<!DOCTYPE html>
<html>
    <head>
        <title>Eatburp</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
        </style>
    </head>

    <body>

            <div class="container">
                    
                    <div class="col-sm-6 col-sm-offset-3">
                    
                        <h1><span class="fa fa-sign-in"></span> Login</h1>
                    
                       
                    
                        <!-- LOGIN FORM -->
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                    
                            <button type="submit" class="btn btn-warning btn-lg">Login</button>
                        </form>
                    
                        <hr>
                    
                        <p>Need an account? <a href="/signup">Signup</a></p>
                        <p>Or go <a href="/">home</a>.</p>
                    
                    </div>
                    
                    </div>


                    
        <!-- <h1>Node and MongoDB</h1>
        
            <form action="/addname" method="POST" >
                <label>Enter Your Name</label><br>
                <input type="text" name="firstName" placeholder="Enter first name..." required>
                <input type="text" name="lastName" placeholder="Enter last name..." required>
    
                <input type="submit" value="Submit form" name= "addname">
            </form>

            <a href="/search">Search</a>
            <a href="addUser">Add user</a>
            <a href="addResto">Add restaurant</a>
            <a href="addItem">Add items</a>
            <a href="addReview">Add Reviews</a> -->
    </body>
</html>