<!DOCTYPE html>
<html>
    <head>
        <title>Eatburp</title>
    </head>

    <body>
    	<h1>Upload Photos</h1>

    	<form id = "uploadForm" enctype = "multipart/form-data" action = "/addfooditem" method = "post">
            <input type="file" name="photo" multiple />
                  <input type='text' id='name' name='random'><br>

            <input type="submit" value="Upload Image" name="submit"/>
            </form>

    </body>
</html>